html,
body {
  padding: 0;
  margin: 0;
  font: 14px / 1 Helvetica, Arial, Verdana, sans-serif;
}

a {
  color: inherit;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

h1 {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

textarea,
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  font-size: 1rem;
  color: inherit;
  background: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #dfdfdf;
  padding: 0.7em 1em;
  border-radius: 2em;
}

button {
  display: inline-block;
  border: none;
  appearance: none;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  border-radius: 2em;
  padding: 0.7em 1em;
  border: 2px solid transparent;
  background: #facbcf;
  color: #4d525b;
}

button:hover {
  background: #dab0b4;
}

button:active {
  transform: scale(0.95);
}

figure {
  margin: 0;
  display: block;
}

* {
  box-sizing: border-box;
}
